{% extends 'base.html' %}
{% block title %}PuzzleCore - О нас{% endblock %}

{% block content %}
<section class="page-section about-heading">
    <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ url_for('static', filename='assets/img/about.jpg') }}">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper"><strong>наибольшего успеха добивается тот, кто&nbsp;располагает лучшей информацией.</strong></span></h2>
                        <p>Founded in 2020 by Roman T, our resource specializes in preparing rich information received from leading developers, analysts and project managers in various regions of Russia. We strive for progress.</p>
                        <p class="mb-0">Основанный в 2020 году Романом Т, наш ресурс специализируется на подготовке обширной информации, полученной от ведущих разработчиков, аналитиков и менеджеров проектов в различных регионах России. Мы стремимся к прогрессу.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}