{% extends 'base.html' %}
{% block title %}PuzzleCore - Информационный портал{% endblock %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='assets/img/intro.jpg') }}">
            <div class="text-center intro-text p-5 rounded bg-faded">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">Puzzle core</span></h2>
                <p class="mb-3">Каждый глоток моей качественной информации готовится из лучших, отобранных вручную информационных ингредиентов. Как только вы попробуете посетить этот ресурс, он станет приятным дополнением к вашей повседневной утренней рутине - я это гарантирую!</p>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center cta-inner rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">Специальное предложение</span><span class="section-heading-lower">для тебя</span></h2>
                    <p class="mb-0">Когда вы заходите на наш ресурс, чтобы начать свой день, мы стремимся предоставить вам новую информацию, специально подобранную для вас. Если вы не удовлетворены, пожалуйста, дайте нам знать, и мы сделаем все от нас зависящее, чтобы все исправить!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}